<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div>
            <a href="#"><img class="logo" src="{{url_for('static', filename='img/no_waste_logo.png')}}" alt="company logo"></a>
        </div>
        <div class="btn">
            {% if page == "customer" %}
            <a href="{{url_for("vendor_register")}}">
            <button type="button" class="vendor_btn">
                Join as Local Vendor
            </button>
            {% elif page=="vendor" %}
            <a href="{{url_for("customer_login")}}">
            <button type="button" class="vendor_btn">
                Login as Customer
            </button></a>
            {% endif %}
        </div>
    </header>
    <section>
        <div>
            <img class="poster" src="{{url_for('static', filename='img/login_poster.png')}}" alt="Login Poster">
        </div>
        <div class="form">
            <div class="heading_div_form">
                <h2>Get Started</h2>
                <h3>Already have an account?{% if page == "costumer" %}<a href="{{url_for("customer_login")}}"> <span class="signin_link">Sign In</span></a>{% elif page == "vendor" %} <a href="{{url_for("customer_login")}}"> <span class="signin_link">Sign In</span></a> {% endif %}</h3>
            </div>
            <form>
                {% for input_box in input_boxes %}
                <div class="user-box">
                  <label>{{input_box["label"]}}</label><br>
                  <input type="{{input_box["type"]}}" name="{{input_box["name"]}}" required="{{input_box["required"]}}">
                </div>
                {% endfor %}
                <div class="btn-submit">
                    <button type="button" class="vendor_btn">
                        {{submit_button}}
                    </button>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <div class="col-1">
            <h2 class="heading_for_footer">HELP</h2>
            <ul class="help_list">
                <li>Orders and Daily Collection</li>
                <li>FAQ</li>
                <li>Track Order</li>
                <li>Contact Us</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="col-2">
            <h2 class="heading_for_footer">GET IN TOUCH</h2>
            <ul class="help_list">
                <li><span>Call: </span>355914</li>
                <li><span>Email: </span>aasdsd</li>
            </ul>
        </div>
    </footer>
</body>
</html>