<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div>
            <a href="#"><img class="logo" src="{{url_for('static', filename='img/no_waste_logo.png')}}" alt="company logo"></a>
        </div>
        <div class="btn">
            <button type="button" class="vendor_btn">
                Join as Local Vendor
            </button>
        </div>
    </header>
    <footer>
        <div class="col-1">
            <h2 class="heading_for_footer">HELP</h2>
            <ul class="help_list">
                <li>Orders and Daily Collection</li>
                <li>FAQ</li>
                <li>Track Order</li>
                <li>Contact Us</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="col-2">
            <h2 class="heading_for_footer">GET IN TOUCH</h2>
            <ul class="help_list">
                <li><span>Call: </span>355914</li>
                <li><span>Email: </span>aasdsd</li>
            </ul>
        </div>
    </footer>
</body>
</html>